{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center pt-3 pb-3">{{ category.name }}</h1>
    </div>

    <div class="container mb-3 pb-4">
        <h2>Articles correspondants:</h2>
        {% for article in category.articles %}
            <a href="{{ path('article_show', {'slug': article.slug}) }}"><h4>{{ article.id }} - {{ article.title }}</h4>
            </a>
        {% else %}
            <div class="container">
                <div class="alert alert-primary" role="alert">
                    Nothing to display ! come back later ...
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container mb-5 col-4 d-flex flex-column justify-content-center align-items-center">
        <a class="btn text-light bg-dark m-1 col-6" href="{{ path('category_index') }}">Retour à la liste</a>

        <a class="btn text-light bg-dark m-1 col-6" href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>

        {{ include('category/_delete_form.html.twig') }}
    </div>

{% endblock %}