{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1>Catégorie {{ category.name }}</h1>
    <h3>Tous les articles correspondants</h3>

    {% for article in articles %}
    <div>
        <h2>Real article id : {{ article.id }}</h2>
        <h3>Title : {{ article.title }}</h3>
        <p> {{ article.content }}</p>
    </div>
    {% endfor %}


    <a href="{{ path('index') }}">
        Retour à la page d'accueil
    </a>

{% endblock %}