{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}
    <h1 class ="text-center pt-3 pb-3">Tous les articles du blog</h1>

    <div class="container mb-4">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.searchField) }}
            </div>
        </div>
        <button type="submit" name="btnSearch">Rechercher</button>
        {{ form_end(form) }}
    </div>

    {% for article in articles %}
        <div class="container mb-5">
            {# {{ loop.index }} = l’index de l’itération courant#}
            <h2>{{ loop.index }} / {{ article.title }}</h2>
            <h4>Category : {{ article.category.name }}</h4>
            {% for tag in article.tags %}
                <h5>Tag : {{ tag.name }}</h5>
            {% else %}
            <li>No tags for this article</li>
            {% endfor %}
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

{% endblock %}