{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}
    <h1>Tous les articles </h1>
    {% for article in articles %}
        <div>
{#            {{ loop.index }} = l’index de l’itération courant#}
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
    Voir l'article sur "javascript-vs-php".
    </a>
    <br>
    <a href="{{ path('index') }}">
        Retour sur la page d'accueil
    </a>
{% endblock %}