{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-3">Bienvenue sur le blog</h1>
    <div class="row">
        <div class="container mb-5 col-3">
            {# création d'un formulaire de recherche #}
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
            <button type="submit" name="btnSearch">Rechercher</button>
            {{ form_end(form) }}

        </div>
    </div>

    <h2 class="text-center pt-3 pb-3">Les 5 derniers articles</h2>
    {% for article in articles %}
        <div class="container mb-5">
            {# {{ loop.index }} = l’index de l’itération courant#}
            <a href="{{ path('article_show', {'slug': article.slug}) }}"><h3>{{ loop.index }} / {{ article.title }}</h3></a>

            {% for tag in article.tags %}
                <h5>Tag : {{ tag.name }}</h5>
            {% else %}
                <li>No tags for this article</li>
            {% endfor %}
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

{% endblock %}