{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>
    <br>
    <a href="{{ path('blog_index') }}">
        Voir tous les articles.
    </a>
    <br>
    <a href="{{ path('show_category', { 'name': "PHP" }) }}">
        Voir la catégorie PHP
    </a>
    <br>
    <a href="{{ path('show_category', { 'name': "Javascript" }) }}">
        Voir la catégorie Javascript
    </a>
    <br>
    <a href="{{ path('show_category', { 'name': "Java" }) }}">
        Voir la catégorie Java
    </a>
    <br>
    <a href="{{ path('show_category', { 'name': "SQL" }) }}">
        Voir la catégorie SQL
    </a>
    <br>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Voir l'article sur "javascript-vs-php".
    </a>

{% endblock %}