 <header class="container pt-3 pb-3">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link text-secondary" href="{{ path('index') }}">Home</a>
        <a class="nav-item nav-link text-secondary" href="{{ path('blog_index') }}">Articles</a>
        <a class="nav-item nav-link text-secondary" href="{{ path('show_category', { 'name': "PHP" }) }}">Catégorie PHP</a>
        <a class="nav-item nav-link text-secondary" href="{{ path('show_category', { 'name': "Javascript" }) }}">Catégorie Javascript</a>
        <a class="nav-item nav-link text-secondary" href="{{ path('show_category', { 'name': "Java" }) }}">Catégorie Java</a>
        <a class="nav-item nav-link text-secondary" href="{{ path('show_category', { 'name': "SQL" }) }}">Catégorie SQL</a>
    </nav>
 </header>
