{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <div class="container">
        <h1 class = "text-center pt-3 pb-3">{{ tag.name }}</h1>
    </div>
    <div class="container mb-3 pb-4">
        <h2>Articles correspondants:</h2>
        {% for article in tag.articles %}
            <a href="{{ path('article_show', {'slug': article.slug}) }}"><h4>{{ article.id }}  -  {{ article.title }}</h4></a>
        {% else %}
            <div class="container">
                <div class="alert alert-primary" role="alert">
                    No tags for this article
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container mb-5 col-4 d-flex flex-column justify-content-center align-items-center">
        <a class="btn text-light bg-dark m-1 col-4" href="{{ path('tag_index') }}">Retour à la liste</a>

        <a  class="btn text-light bg-dark m-1 col-2" href="{{ path('tag_edit', {'id': tag.id}) }}">Editer</a>

        {{ include('tag/_delete_form.html.twig') }}
    </div>
{% endblock %}