{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-3">Tous les articles du blog</h1>
    <div class="row">
        <div class="container mb-5 col-10">
            <a class="btn text-info bg-dark m-auto col-2" href="{{ path('article_new') }}">Créer un nouvel article</a>

            <table class="table my-4">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a class="nav-item nav-link text-light bg-dark m-1" href="{{ path('article_show', {'slug': article.slug}) }}">Voir</a>
                            <a class="nav-item nav-link text-light bg-dark m-1" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
